/* General content */
body {
	font: 16px/1px Verdana, sans-serif;
}


p {
	line-height: 2;
}


/* Headings */
h1 {
	color: #666;
	text-align: center;
	font-size: 48px;
	margin: 45px 0 19px;
}


h2 {
	color: #f07c17;
	font-weight: 600;
	font-size: 24px;
	margin: 11px 0 30px;
}


/* Left column */
img {
	max-width: 100%;
}


.mug {
	margin-top: 11px;
}


.main-features {
	border: 1px solid #ccc;
	margin-top: 30px;
	padding: 19px 30px 30px;
}


.features-item {
	line-height: 2;
}